@using Web.Models

@model PaymentViewModel

@{
    ViewData["Title"] = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Payment</h2>
<hr />

@Html.LabelFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
@Html.DisplayFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
<br />
@Html.LabelFor(model => model.DateTime, new { htmlAttributes = new { @class = "form-control" } })
@Html.DisplayFor(model => model.DateTime, new { htmlAttributes = new { @class = "form-control" } })
<br />
@Html.LabelFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
@Html.DisplayFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
<br />
@Html.Label("", "Booking number", new { htmlAttributes = new { @class = "form-control" } })
@Html.DisplayFor(model => model.BookingDTO.Id, new { htmlAttributes = new { @class = "form-control" } })
<br />
@Html.Label("", "Booking date", new { htmlAttributes = new { @class = "form-control" } })
@Html.DisplayFor(model => model.BookingDTO.DateTime, new { htmlAttributes = new { @class = "form-control" } })
<br />
@Html.Label("", "Client name", new { htmlAttributes = new { @class = "form-control" } })
@Html.DisplayFor(model => model.BookingDTO.UserDTO.FirstName, new { htmlAttributes = new { @class = "form-control" } })
<br />
@Html.Label("", "Email", new { htmlAttributes = new { @class = "form-control" } })
@Html.DisplayFor(model => model.BookingDTO.UserDTO.Email, new { htmlAttributes = new { @class = "form-control" } })
<br />

